body{
background-size: 100%;
background-color:#000000; ;
background-repeat:no-repeat;
padding:0px;
margin:0px;
}
@media screen and (max-device-width : 640px)
{
  body
  {
	
    font:16px;
	color:#ffffff;
	background-size: 100%;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
    body { font-size: 300%; }
	
	.paypalImg{
		width:300px;
		height:70px; 
	}
}
.container{
width:640px;
margin:auto;
background-size: 100%;
padding:10px;
color:#ffffff;
}

.paypalImg{
	float:center;
}