.approveBtn{
background-image:url('../image/ApproveGreen.png');
background-repeat:no-repeat;
border:0px;
width:16px;
height:16px;
padding: 6px 10px;
text-align: center;
width: 16px;
-webkit-background-clip: padding-box; 
background-color:transparent;
}

.denyBtn{
background-image:url('../image/AbsentRed.png');
background-repeat:no-repeat;
border:0px;
width:16px;
height:16px;
padding: 6px 10px;
width: 16px;
-webkit-background-clip: padding-box; 
background-color:transparent;
}
