#cssmenu {
	width: 200px;
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-width: 0px;
	background-color:#ffffff;
	}

#cssmenu ul{
	list-style:none;
	margin:0px;
	padding:0px;
	}

#cssmenu ul li{
padding-right:0px;
}	
#cssmenu li a {
	height: 32px;
  	height: 24px;
	text-decoration: none;
	font-weight:normal;
	}	
	
#cssmenu li a:link, #cssmenu li a:visited {
	color: #737373;
	display: block;
	background: #efefef;
	padding: 8px 0 0 30px;
	}
	
#cssmenu li a:hover {
	color: #000000;
	//background: url(images/v6.gif) 0 -32px;
	//background-repeat:no-repeat;
	padding: 8px 0 0 30px;
	}
	
#cssmenu li  a:active {
	color: #000000;
	background: #ffffff;
	background-repeat:no-repeat;
	padding: 8px 0 0 30px;
	}
#cssmenu li a.mark{
background-color:#000000;
background: url(../menu_assets/images/selected.png) 0 0px;
background-repeat:no-repeat;
}

#topMenu{
float:right;
margin-right:70px;
}

#topMenu li{
list-style:none;
float:left;
padding-left:35px;
}